* {
  font-family: Quicksand, sans-serif;
  color: rgb(200,240,255);
  font-weight: bold;
}
window {
  background:none;
}
.modules-left widget > * {
  padding: 0 10px; 
  border-top-right-radius: 10px;
}
.modules-left widget:nth-child(1) > * { background-color: rgba(55, 112, 228, 0.5); }
.modules-left widget:nth-child(2) > *, .modules-left widget:nth-child(1), #workspaces { background-color: rgba(27, 68, 194, 0.5); }
.modules-left widget:nth-child(3) > *, .modules-left widget:nth-child(2) { background-color: rgba(10, 40, 170, 0.5); }

#workspaces button.visible {
  background-color: rgba(55,112,228,0.7);
  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#workspaces button.active:last-child {
  border-top-right-radius: 0;
}
#workspaces {
  border-top-left-radius: 10px;
}

#window {
  background-color: rgba(0,0,0,0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 50px;
  color: white;
}
.error {
  color: #ff6600;
}
