@define-color highlight #fbf1c7;
@define-color base1  #ffffff;
@define-color base3  #282828;
 
*{
    font-family: sans-serif;
    font-size: x-large;
    -gtk-icon-source: none;
}
/* hide search/delete placeholder images */
image { color:rgba(0,0,0,0); }

#window, #outer-box,#inner-box {
  background: none;
}

#input {
    padding:5px;
    border-radius: 1em;
    border: 2px solid #888;
    font-size: xx-large;
    margin-bottom: 1.5em;
}
#entry {
  background-color: rgba(100,100,100,0.7);
  padding: 10px;
}
#entry image {
  margin-right: 0.5em;
  }
#entry:selected {
  background-color: rgba(60,100,180,1);
}
#entry:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#entry:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
*:focus {
    outline-style: none;
}

/*
 
#inner-box {
    background-color: @base3;
    margin: 0 10em;
}
 
#outer-box {
    background-color: rgba(0,0,0,0.5);
}
 
#text {
    padding: 5px;
    color: @highlight;
}
 
#entry:nth-child() {
    color: @base1;
}
 
#entry:selected {
    border: 2px solid @highlight;
}
*/
